@media screen and (min-width: 1700px) {
  .wrapper {
    margin: 0 auto;
    width: 1600px;
  }

  nav {
    width: 1600px;
  }

  /*prvy odkaz v menu*/
  #firstLi {
    margin-left: 700px;
  }

  footer {
    width: 1600px;
  }
  /*paragrafy zaronane nalavo*/
  .left {
    width: 35%;
  }

  /*obrazok pri co je to antivirus a sucasti antivirusu*/
  .img_antivirus {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  #firstAutor {
    margin-left: 175px;
  }

}
