* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #262626;
}

.wrapper {
  width: 100%;
  background-color: #f2f2f2;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #262626;
  z-index: 1;
}

nav ul li {
  width: 220px;
  list-style: none;
  float: left;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  font-family: 'Spectral', serif;
}

nav ul li a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-family: 'Spectral', serif;
  color: #f2f2f2;
  font-weight: 600;
  padding: 0 20px;
}

nav ul li a:hover {
  color: #d6d6d6;
  background-color: #666;
}

nav ul li ul li {
  display: none;
  background-color: #262626;
}

nav ul li:hover ul li {
  display: block;
}
/*obrazok fiit*/
img.fiit {
  display: block;
  margin-left: 0;
  height: 50px;
}
/*prvy odkaz v menu*/
#firstLi {
  margin-left: 440px;
}
/*wrapper hlavneho obrazka*/
.container {
  position: relative;
  text-align: center;
}
/*hlavny obrazok*/
.main_img {
  width: 100%;
  margin-top: 50px;
}
/*nadpis v hlavnom obrazku*/
.main_img_text {
  position: absolute;
  text-transform: uppercase;
  left: 100px;
  top: 270px;
  color: white;
  font-size: 52px;
  font-family: 'Orbitron', sans-serif;
}

footer {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background-color: #262626;
}

footer p {
  padding-top: 17px;
  line-height: 18px;
  text-align: center;
  color: #f2f2f2;
  font-family: 'Spectral', serif;
  font-weight: 500;
  font-size: 18px;
}
/*horizontalne ciary*/
hr {
  width: 70%;
  margin: auto;
  opacity: 0.5;
}
/*vsetky nadpisy urovne h2*/
h2 {
  margin: 50px 0 20px 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Spectral', serif;
  font-size: 30px;
}
/*bezne nadpisy urovne h3*/
h3.content {
  margin: 40px 0 20px 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Spectral', serif;
  font-size: 22px;
}
/*bezne nadpisy urovne h4*/
h4 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Spectral', serif;
  font-size: 15px;
}
/*vycentrovane paragrafy*/
p.center {
  width: 75%;
  margin: auto;
  text-align: center;
  line-height: 30px;
  font-family: 'Spectral', serif;
}
/*paragrafy zaronane nalavo*/
.left {
  width: 30%;
  float: left;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 270px;
  line-height: 30px;
  text-align: center;
  line-height: 30px;
  font-family: 'Spectral', serif;
}
/*metody skenovania*/
#metody {
  list-style: none;
  padding-top: 90px;
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
}
/*obrazok pri co je to antivirus a sucasti antivirusu*/
.img_antivirus {
  width: 30%;
  float: right;
  margin-top: 60px;
  margin-right: 220px;
}
/*obrazok k sandboxu*/
.img_sandbox {
  margin-left: 490px;
  width: 40%;
}
/*ocislovany zoznam*/
.orderedList {
  font-family: 'Spectral', serif;
  padding-left: 220px;
  line-height: 30px;
  margin-bottom: 50px;
}
/*jednotlive odkazy ocislovaneho zoznamu*/
.orderedList ul li {
  margin-left: 30px;
}
/*clanky v sekcii autori*/
article.autori {
  float: left;
  margin-top: 20px;
  margin-bottom: 70px;
  width: 250px;
}
/*nadpisy urovne h3 v sekcii autori*/
h3.autori {
  text-align: center;
  font-family: 'Spectral', serif;
}
/*paragrafy v sekcii autori*/
p.autori {
  text-align: center;
  font-family: 'Spectral', serif;
}
/*obrazky v sekcii autori*/
img.autori {
  width: 200px;
  height: 200px;
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 50%;
}

#firstAutor {
  margin-left: 70px;
}
